* {
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
}

.header-logo {
  flex: 0 1 475px;
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  font-size: 14px;
  font-weight: 300;
}

.hero {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 80px 0;
  background-color: #1f2937;
}

.hero-left {
  flex: 0 0 400px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.secondary-text {
  color: #e5e7eb;
}

.sign-up {
  background-color: #3882f6;
  width: 110px;
  border: transparent;
  color: #e5e7eb;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  background-color: #8b909b;
  color: #f9faf8;
}

.information {
  height: 400px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px;
}

.information-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.image-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 400px;
}

.image-holder {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.image {
  border: 3px solid #3882f6;
  border-radius: 15px;
  width: 150px;
  height: 150px;
}

.image-subtext {
  margin-top: 5px;
  width: 150px;
  height: 75px;
  text-align: center;
}

.quote-container {
  height: 300px;
  padding: 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.quote {
  width: 750px;
  font-size: 34px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
}

.author-name {
  width: 700px;
  display: flex;
  justify-content: flex-end;
  font-weight: 800;
}

.call-container {
  height: 250px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.call-box {
  display: flex;
  justify-content: space-between;
  gap: 140px;
  background-color: #3882f6;
  padding: 40px 120px;
  border-radius: 7.5px;
}

.call-left {
  display: flex;
  flex-flow: column nowrap;
}

.call-header {
    font-size: 20px;
    font-weight: 700;
}

.call-header, .call-text {
  color: #e5e7eb;
}

.call-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-button {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #e5e7eb;
    color: #e5e7eb;
    background-color: #3882f6;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 30px;
}

.footer .text {
    color: #e5e7eb;
}

a {
  color: #e5e7eb;
}
